* {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 600;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-variant-numeric: tabular-nums;
}

body {
  background: linear-gradient(0deg, #0F2027 0%, #203A43 50.94%, #2C5364 98.85%), linear-gradient(0deg, #203A43, #203A43), #2C5364;
  height: 100vh;
}
.container {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 122px;
  @media (max-width: 720px) {
    font-size: 60px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 410px;
  margin: 0 auto;
  margin-top: 40px;
  gap: 0 85px;
  @media (max-width: 720px) {
    gap: 0 30px;
  }
  .button {
    cursor: pointer;
    border: 8px solid #21414D;
    background-color: transparent;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
    @media (max-width: 720px) {
      height: 65px;
      width: 65px;
    }
    &:hover {
      background-color: rgba(159, 36, 110, 0.498);
      border: 8px solid #2C5364;
    }
  }
}

.phrase {
  position: absolute;
  bottom: 40px;
  left: 80px;
  @media (max-width: 720px) {
    left: inherit;
  }
  p {
    font-size: 17px;
    letter-spacing: 0.15em;
  }
}